<h2>日記投稿</h2>
<%= form_with model: @post, local:true do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>内容</h4>
  <%= f.text_area :content %>
 <p><%= f.submit 'Create Book' %></p>
 <% end %>